// primary
$primaryColor: #3f50b5;
$lightPrimary: #757ce8;
$darkPrimary: #002884;

// secondfary
$secondaryColor: #f44336;
$lightSecondary: #ff7961;
$darkSecondary: #ba000d;

// basic
$whiteColor: #ffffff;
$greyColor: #e7e7e7;
$tomatoColor: tomato;
$blueColor: blue;
$darkColor: rgb(119, 3, 148);